body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(100, 100, 100);
}

h1 {
    text-align: center;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #272727;
}

div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    text-align: center;
    width: 60vw;
    margin: 50px auto;
}

a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}